@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Meddon&display=swap');

$black: #000000;
$white:#ffffff;
$line-global:20px;
$pink-background: #F4EBF0;


$dark-type: #774646;


$body-font: "Work Sans", san-serif;
$header-font:'Cormorant Garamond', serif;
$hand-font: 'Meddon', cursive;

$line-height-header: 1.4;
$line-height-body: 1.6;

$header-size:72px;
$sub-header-size:36px;
$body-size:18px;

// collection page colors
$hc-1: #e95943;
$hc-2:rgb(161, 93, 93);
$hc-3: rgb(113, 135, 163);
$hc-4: #fdc197;
$hc-5:#ffc2c2;
$hc-6: #a3152a;

$bg-1: #ffbd9c;
$bg-2: #BB7373;
$bg-3: #FFFFFF;
$bg-4: #fff1da;
$bg-5: #ffe0e7;
$bg-6: #dcdcdc;


body {
    background-color:$white;
    margin:0;

}

h1 {
    font-size:$header-size;
    font-family:$header-font;
    text-transform: uppercase;
}
h2 {
    font-size:$sub-header-size;
    text-transform: uppercase;
    font-family:$header-font;

    
}

h3 {
    font-family:$header-font;
    text-transform: uppercase;
}

p{
 margin:0;   
 font-family:$body-font;
 line-height: $line-height-body;
}


.mobile-header div {
    display:none;
}

header {
    width:100%;
    position: fixed;
    display:flex;
    justify-content: center;
    z-index:3;
    top:0;
    align-items:center;
    text-transform:uppercase;
    background-color:$white;
    transition:all 2s ease;
    &.hidden {
        transform:translateY(-100%);
    }



nav {
    width:900px;
    display:flex;
    margin: 0 $line-global*4 0 $line-global*4;
    justify-content: space-between;
    align-items:center;
    img {
        width:200px;
    }
    a {
        text-decoration: none;
        color:#000;
        text-transform: uppercase;
        font-family: $body-font;
    }
}
}

.mobile-hero {
    display:none;
}

.hero,
.collections {
    padding-top:180px;
    max-width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom:$line-global*4;
    position: relative;
    a {
        text-decoration:none;
        position: absolute;
        color:$dark-type;
        padding:$line-global*2;
        cursor:pointer;
        z-index:1;

    
    }
    img {
        max-width:100%;

    }

}

.collections {
    padding-top:$line-global*4;

    background-color:$pink-background;

    img {
        opacity: 0.5;

    }
}


.about {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:$pink-background;
    width:100%;
    height:100vh;
    .about-image {
        padding:100px 0 100px 125px;
        img {
            max-width:350px;
        }
    
    }
    .about-text {
        display:flex;
        width:400px;
        flex-direction:column;
        justify-content: center;
        padding:100px 125px 100px 80px;
        color:$dark-type;
        h2 {
            font-family:$hand-font;
            text-transform: none;
        }
        p {
            padding-bottom:$line-global;
            font-size:$body-size;
        }
    }
}





.location {
    display:flex;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
    font-size:$body-size;
    color:$dark-type;
    div {
        width:33.33%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        p{
            margin:0;
            line-height:1.6;
                }
    }
    .opening-times {
        margin-bottom:$line-global*5;
    }

 
    .map {
        border: solid 5px $pink-background;
        padding:$line-global*2;
    }
}

.contact {
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    .image-contact {
       padding:50px;
        div {
            width:400px;
            height:600px;
            position: absolute;
            display:flex;
            justify-content: center;
            align-items: center;
            color:$white;
            z-index:2;
            font-size:$sub-header-size;
            h2 {
                text-align: center;
                width:300px;
                font-family:$hand-font;
                text-transform:none;
                margin:0;
                line-height:$line-height-header;
            }

            }
        img {
            width:400px;

        }
    }

    form {
        display:flex;
        flex-direction:column;
        padding:50px;
        width:300px;
        text-decoration:none;

        input {
            color:$dark-type;
            width:300px;
            margin-bottom:$line-global/2;
            padding: $line-global/4 $line-global/4 $line-global/4 $line-global/4;
            font-size:$body-size;
            border:solid 2px $pink-background;

            
        }
        
        textarea {
            color:$dark-type;
            width:300px;
            height:200px;
            padding: $line-global/4 $line-global/4 $line-global/4 $line-global/4;
            font-size:$body-size;
            font-family: $body-font;
            resize:none;
            border:solid 2px $pink-background;

           
            
        }
        .submit {
            width:315px;
            height:$line-global*2;
            margin-top:$line-global/2;
            border:solid 2px $pink-background;
            cursor:pointer;
            
            color:$dark-type;
            font-size:$body-size;
            background-color:$pink-background;
        }
}

}


footer {
    background-color:$black;
    width:100%;
    height:80px;
    position:relative;

    p { 
        color:$white;
        font-size:$body-size;
        padding-top:$line-global*1.25;
        padding-left:$line-global*2;
        }

    .sm-links {
        display: flex;
align-items: center;
        padding-right:$line-global*2;
        padding-top:$line-global;
        position: absolute;
                right:0;
                top:0;
        z-index:2;
       
        a {
            text-decoration:none;
            color:$white;
            font-family:$body-font;
            font-size:$body-size;
            padding-left:$line-global;
        }
        img {
            width:30px;
        }

    }
}

/// Collection Page
.collection-header.s2 {
    background-color:$hc-2;
}

.collection-header.s3 {
    background-color:$hc-3;
}
.collection-header.s4 {
    background-color:$hc-4;
}
.collection-header.s5 {
    background-color:$hc-5;
}
.collection-header.s6 {
    background-color:$hc-6;
}

.collection-header {
    width:100%;
    position:fixed;
    background-color:$hc-1;
    display:flex;
    z-index:3;
    padding-top:$line-global;
    padding-bottom:$line-global;
    justify-content: center;
    transition:background-color 0.5s ease;
  
    .pixels {
        display:none;
    }
   
   
    h2 {
        margin:0;
        color:$white;
        width:33.33%;
        display:flex;
        padding:$line-global/2+2;
        justify-content: center;
        font-size:24px;

    }
    .collection-nav {
        display:flex;
        width:33.33%;
        justify-content: flex-start;
        div {
            width:100%;
            padding:$line-global 0 $line-global $line-global;

        p {
            text-transform: uppercase;
            color:$white;
            display:inline;
            margin-right:$line-global;
        }
     
        a { 
            text-decoration:none;
            display:inline;
            padding-top:2px;
            font-family:$body-font;
            margin-left:$line-global/2;
            padding:0;
            color:$white;
            cursor:pointer;
        }
        .selected {
            border-bottom: 2px solid $white;
        }
    }

    }
    
    div {
        width:33.33%;

        .main {
            position: absolute;
            right:0;
            color:$white;
            padding:$line-global $line-global $line-global $line-global;
            font-family:$body-font;
            text-decoration:none;

    }
}

}

section {
    width:100%;
    height:100vh;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:$line-global*2;
}

section.bg-1 {
    background-color:$bg-1;

    path {
        fill:$hc-1;
    }

}

section.bg-2 {
    background-color:$bg-2;
}

section.bg-3 {
    background-color:$bg-3;

    path {
        fill:$hc-3;
    }

}

section.bg-4 {
    background-color:$bg-4;

    path {
        fill:$hc-4;
    }
}

section.bg-5 {
    background-color:$bg-5;

    path {
        fill:$hc-5;
    }
}

section.bg-6 {
    background-color:$bg-6;

    path {
        fill:$hc-6;
    }
}

    .container {
        width:900px;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        justify-content: space-between;
        position:relative;
         img {
            max-width:350px;
        }
        
        .flower-1 {
            position: absolute;
            left:-$line-global*3;
            top:$line-global;
            z-index:2;
        }

        .flower-2 {
            position: absolute;
            bottom:$line-global;
            right:-$line-global*3;
            z-index:2;
        
        }
}







/// mobile Styles 
@media (max-width:740px) {


        // Collection Page responsive  
section {
    height:100%;
}

.mobile-hero {
    display:flex;
    img {
        width:100%;
    }

}
        .collection-header {
            display:flex;
            flex-direction:column-reverse;
            max-width:100%;
            padding:0;
           h2 {
                width:60%;
                display:block;
                padding-top:$line-global/2;
                padding-bottom:0;
                font-size:$sub-header-size/1.5;
    
            }
            div {
                .main {
                    top:0;
                    padding: 15px 10px 0 0;
                    }
            }
            .collection-nav {
                width:100%;
                padding:0;
             
               
            
        
            div {
              
                
                padding:$line-global/2;
                p {
                    margin-bottom:10px;
                    margin-right:0;
                    display:block;
                    
                }

                a {
                    margin-left:0;
                    margin-right:$line-global/2;
                }
                
                }
            }
        }


        .container {
            width:100%;
            display: flex;
            flex-direction: column;
            padding-top: 160px;
            padding-bottom:80px;
            align-items: center;
            justify-content: center;
        
            
              img {
                width:300px;
                padding-top:$line-global;
            
            }

            .flower-1 {
                top:120px;
                left:25px;
                img {
                    width:80px;
                    
                }
            }
            .flower-2 {
                bottom:20px;
                right:25px;
                img {
                    width:80px;
                    
                }
            }
               
         
            }
        



    header {
        display:none;        nav {
            justify-content: center;
            img {
                width:125px;
            }
            a {
                display:none;
               
            }
        }
    }



    .mobile-header {
        display:block;
        width:100%;
        background-color:$white;
        margin-left:auto;
        margin-right:auto;
        position:fixed;
        text-align:center;
        padding-top:0;
        z-index:4;
        padding-bottom:$line-global/2;
        
        a {
            text-decoration:none;
            color:$black;
            margin-left:5px;
            margin-right:5px;
            text-transform:uppercase;
            font-family: $body-font;
            font-size:12px;
        }
        div {
            display: block;
text-align: center;
width: 100%;

  
        img {
            width:125px;
        }
    }
    }

    .hero {
        display:none;
    }
    .collection {
        padding-top:120px;
        padding-bottom:0;
    }

    .about{
        height:100%;
        padding-top:$line-global*6;
        display:flex;
        flex-direction: column-reverse;
        .about-image {
            padding:$line-global*2 0 $line-global*2 0;
            width:100%;
            margin-left:auto;
            margin-right:auto;
            text-align:center;           
             img {
                width:250px;
            }
        }
        .about-text {
            padding:0;
            width:100%;
            h2,p {
                padding:0 $line-global $line-global $line-global;
            }
            
         
        }  
    }

        .location {
            flex-direction:column;
            height:100%;
            padding-top:$line-global*6;

            div {
                width:100%;
                height:50%;
                margin:50px 0px 50px 0px;    
               
            }
            .map {
                width:50%;
                height:200px;
            }      
        }

        .collections {
            
            h1 {
                font-size:$sub-header-size;
            }
            img {
                max-width:90%;
            }

        }

        .contact {
            height:100%;
            flex-direction:column;
            padding-top:$line-global*5;
            .image-contact {
                margin:50px;
                div {
                    width:315px;
                    height:450px;
                    h2 {
                        font-size:24px;
                    }
                }
                width:315px;
                padding:0;
                img {
                    width:315px;
                    
                }
            }
            form {
                width:100%;
                margin-left:auto;
                margin-bottom:$line-global*2;
                text-align:center;
                margin-right:auto;
                padding:0;
                .submit {
                    margin-left: auto;
                    margin-right: auto;
                }
            }

        }

        footer {
            p{
                font-size:14px;
                padding-left:$line-global;
            }

            .sm-links {
                padding-right:$line-global;
                padding-top:$line-global+3;
                img {
                    width:25px;
                }
            }
        }


    }

