@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=Work+Sans:wght@400;800&display=swap');

$black: #000000;
$white:#ffffff;
$line-global:20px;

$background:#BFCDED;
$pink-background:#F8BDC3;


$body-font: 'Work Sans', san-serif;
$header-font:'Cormorant Garamond', serif;

$line-height-header: 1.4;
$line-height-body: 1.6;

$header-size:72px;
$sub-header-size:36px;
$body-size:18px;



body, h1,h2,h3, p ,a {
    margin:0;

}
body {
    background-color:$background;
    position:relative;
}

a, p {
    text-decoration:none;
    font-family: $body-font;
    color:$white;
}

h1 {
    font-size:$header-size;
        font-family:$header-font;
        font-style:italic;
        font-weight:800;
        color:$white;
}

header {
    display:flex;
    justify-content: center;
    padding-top:$line-global*2;
    position:absolute;
    width:100%;
}
.logo {
    width:180px;
    z-index:1;
    img {
        width:100%;
    }
}


.menu-button {
    top:$line-global*2;
    right:$line-global*2;
    position:fixed;
    color:$white;
    font-weight:800;
    z-index:3;
    cursor: pointer;

}

.menu {
    width:100vw;
    height:100vh;
    background-color:$pink-background;
    position: fixed;
    transform:translateY(-100%);
    transition: 1s ease-in-out;
    z-index:3;
}

.open {
    transform: translateY(0%);
}

nav {
    width:100vw;
    
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height:100vh;
        a {
        display:block;
        margin-bottom:15px;
        font-family:$header-font;
        font-style:italic;
        font-size:$header-size;
    }
    .icons {
        display:flex;
        position: absolute;
        bottom:$line-global*2;
        margin-top:$line-global*2;
        img {
            margin-left:$line-global/2;
            height:$line-global*2;
            cursor:pointer;
        }
    }
    .build-credit {
        position: absolute;
        bottom:$line-global*2;
        left:$line-global*2;
        a {
            font-family:$body-font;
            font-size:$body-size;
            font-style:normal;
        }

    }
}


// hero section 

.hero {
    max-width:100vw;
    height:100vh;
    padding-top:150px;
    padding-bottom:150px;
    display:flex;
    justify-content: center;
    align-items:center;
    div {
        margin-left:auto;
        margin-right:auto;
        position: relative;
    }

    
    h1 {
        font-size:$header-size;
        font-family:$header-font;
        font-style:italic;
        font-weight:800;
        width:420px;
        color:$white;
        position: absolute;
        top:60px;
        left:-150px;
        z-index:2;
    }

    

    .image {
        right:-150px;
        img {
        width:450px;
    }


}    

a {
    background-color: white;
    padding:10px;
    color: black;
    position: absolute;
    left: -150px;
    bottom: 100px;
    font-weight:800;
}
    

   
}

// visit us 


.container {
    display:flex;
    width:100vw;
    .visit-text {
        background-color:$pink-background;

        width:50vw;
        padding-top:80px;

       
        position:relative;
        h1 {
            width:400px;
            margin-left:auto;
            margin-right:auto;
        }

        .button {
            width:400px;
            margin-left:auto;
            margin-right:auto;
            margin-top:$line-global*2;
              
            a {
                margin-top:$line-global*4;
                background-color:$white;
                padding:10px;
                color:$black;
                font-weight:800;
                
            }
        }
    }
    .visit-image {
    
        width:50vw;
                img {
            height:100%;
            width:100%;


        }
    }
}

// look book 
.container {
    display:flex;
    width:100vw;
    .look-text {
        width:50vw;
       padding-top:80px;

       
        position:relative;
        h1 {
            width:400px;
            margin-left:auto;
            margin-right:auto;
        }

        .button {
            width:400px;
            margin-left:auto;
            margin-right:auto;
            margin-top:$line-global*2;
              
            a {
                margin-top:$line-global*4;
                background-color:$white;
                padding:10px;
                color:$black;
                font-weight:800;
                
            }
        }
       

    }
    .look-image {
    
        width: 60vw;
display: flex;
justify-content: center;
align-items: center;
padding:$line-global*4 0;

                img {
            width:60%;


        }
    }
}

// get in Touch

.get-in-touch {
    background-color:$white;
}

.contact {

    display:flex;
    width:100vw;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    h1 {
        margin-top:$line-global*2;
        margin-bottom:$line-global*2;

        color:$background;
    }

    .icons {
        height:40px;
        margin-bottom:$line-global*2;
    }
    .icons a{
        fill:$pink-background;
        margin-left:10px;
        margin-bottom:$line-global;
        svg {
            height:40px;
        }

    }
    .build-credit {
        text-align:center;
        position: relative;
        margin-bottom:$line-global*2;

        a,p{
            color:$background;
            margin-top:10px;

        }
        

    }
}



// about page 


.about-image{
    width:100%;
    overflow:hidden;
    height:100vh;
    img {
        width:50vw;
    }
}

.about-text {
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    div {
        width:320px;
        p {
            margin-top:$line-global/2;
            color:$black;
            line-height:1.4;
            margin-bottom:$line-global/2;
        }
        
    }
    .button {
        position: absolute;
        padding:$line-global/2;
        margin-top:$line-global;
        background-color:$white;
        color:$black;
        font-weight:800;

    }
}

// visit us page 

.visit-heading {
        top:$line-global;
        left:$line-global*2;
        position: absolute;
    }











@media (max-width:770px) {

    header {
        padding-top:$line-global;
    }
    .hero {
        padding-top:$line-global*2;
        padding-bottom:0;
       
        div{
            width:100vw;
            margin-left:auto;
            margin-right:auto;


            .text {
                width:50%;
                h1 {
                    font-size:54px;
                    left:-100px;
                    top:$line-global*2;
                }
            }
           
            .image {
                    width:50%;
                img {
                    width:300px;
                    right:-100px;
                }
            }
            a {
                left:10%;
                bottom:0;
            }
        }
       
    }

    .container {
        flex-direction:column;
        .look-text {
            padding-top:0;

        }
        .visit-text,
        .look-text {
            width:100vw;
            h1 {
                font-size:54px;
                text-align: center;
            }
            .button {
                text-align:center;
                margin-left:auto;
                margin-right:auto;
                width:100%;
            }
        }
        .visit-image,
        .look-image {
            width:100vw;
               img {
                position:relative;
                display:block;
                margin:0;
                padding:0;
               }
                 }
        }

// about page tabelt 

.container {
    flex-direction:column-reverse;

.about-image{
    width:500px;
    overflow:visible;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
    margin-bottom: 40px;
    img {
        width:100%
    }
}

.about-text {
    margin-top:$line-global*8;
    width:100%;
  
    div {
        width:500px;
        p {
            margin-top:$line-global/2;
            color:$black;
            line-height:1.4;
            margin-bottom:$line-global/2;
        }
        
    }
    .button {
        position: absolute;
        padding:$line-global/2;
        margin-top:$line-global;
        background-color:$white;
        color:$black;
        font-weight:800;

    }
}
}

}








    @media (max-width:550px) {


        .container {

            .about-text {
                margin-top:$line-global*5;
            }
            .about-text div {
                width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    h1 {
        font-size:10vw;
    }
    p {
        font-size:4vw;

    }
    a {
        font-size:4vw;
    }
            }
            .about-image {
                width:100%;
                margin-bottom:0;
                img {
                    width:100vw;
                }
            }
        }
        .menu-button {
            top:$line-global;
            right:$line-global;
        }

        .logo {
            width:120px;
            img {
                width:100%;            }
        }
     
       
        header {
            padding-top:$line-global;
           
        }
        
        .hero {
            padding-top:0;
            height:100%;
            padding-bottom:0px;
            display:block;
    
            
            div {                 

                .text {
                    margin-left:0;
                    margin-right:0;
            
                    position: relative;

                h1 {

                    width:100%;
                    color: #fff;
                    left: 20px;
                    position: absolute;
                    z-index: 2;
                    top: 150px;
                    font-size:10vw;
                }
                }
                .image {
                    height:100%;
                    width:100vw;
                    right:0;
                    img {
                        display:block;
                        margin:0;
                        padding:0;
                        height:100%;
                        width:100%;
                    }   
                }

                a {
                    left: 20px;
                    bottom: $line-global;
                    font-size:3vw;
                }
            }
        }

        .container {
            flex-direction:column-reverse;
            
            .visit-text,
            .look-text {

                height:150px;
                padding-top:$line-global*2;
                padding-bottom:$line-global*2;
               

                h1 {
                    width:100%;
                    font-size:10vw;
                    text-align: center;
                    
                }
                .button {
                    text-align:center;
                    margin-left:auto;
                    margin-right:auto;
                    width:100%;
                    a {
                        font-size:3vw;
                }
            }
          
            }
            .look-image {
                padding-top: 40px;
                padding-bottom: 0;
                  
                     }

            // contact

            .contact {
                h1 {
                    font-size:10vw;
                }
            }
        }


        // menu
        
        nav {

            padding-top:$line-global*2;
            a {
                font-size:13vw;
            }
            .icons {
                position:relative;
                bottom:0;
                margin-top:$line-global*2;
            }
            .build-credit {
                position:relative;
                text-align:center;
                bottom:0;
                left:0;
            }
        }

    }
